* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.flow > :where(:not(:first-child)) {
  margin-top: var(--flow-espacio, 1rem);
}

.start-page {
  text-align: center;
}
.start-page > h1 {
  font-size: 6rem;
  text-decoration: underline;
}
.start-page > p {
  font-size: 2rem;
}
.startPage--btn {
  --flow-espacio: 5rem;
  padding: 0.8em 1.6em;
  font-size: 1.6rem;
  background-color: rebeccapurple;
  color: aliceblue;
  border: 0;
  border-radius: 7px;
  cursor: pointer;
}
.pregunta {
  padding: 1rem;
}
.pregunta--respuestas {
  display: flex;
  gap: 2rem;
}
